table {
    border: dotted 1px rgb(0, 239, 68);
    width: 100%;
    height: 100%;
}
td{
    border: dashed 1px rgb(130, 42, 42);
    width: 50%;
    color: rgb(13, 0, 255);
    padding-left: 50px;
}
.odd{
    background-color: rgb(12, 61, 5);
}
.even{
    background-color: rgb(178, 210, 36);
}
tbody {
    height: 1000px;
   
}
#icon1{
    color: brown;
}
#icon2{
    color: aquamarine;
}
